* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* =================
   Globals     
   ================= */

/* div {
  border: 2px dotted orange;
} */

h1 {
  font-size: 1.5rem;
}

/* =================
   Grid Layout   
   ================= */

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 23% 48% 6% 23%;
  border: 1px dotted red;
  height: 100vh;
  grid-template-areas:
    "top-space top-space top-space top-space"
    "left-space main-top main-top right-space"
    "left-space footer footer right-space"
    "bottom-space bottom-space bottom-space bottom-space";
}

/* =================
   Main content   
   ================= */

.main-top {
  grid-area: main-top;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 46% 54%;
}

/* =================
   Main left content   
   ================= */

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Buttons */

.btn {
  background-color: rgb(138, 138, 138);
  width: 80%;
  height: 20%;
  display: flex;
}
.fb-btn {
  margin-top: 10%;
}

.lgn-btn-color {
  color: white;
}

.btn-text {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#flc {
  background-color: #4267b2;
}

#fib {
  background-color: #4267b2;
}

/* Icons */

.icon-soc {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.icon-soc i {
  font-size: 2em;
}

/* Divider */

.divider-btn {
  width: 1%;
  height: 60%;
  margin-top: 5%;
  background-color: rgb(177, 177, 177);
}

/* =================
   Main right content   
   ================= */

.main-right {
  display: flex;
  flex-direction: column;
}

.mrd {
  margin: 2% 9%;
}

#header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
  height: 100%;
}

#header {
  height: 20%;
  background-color: saddlebrown;
}

#user-name {
  height: 20%;
  background-color: rgb(223, 201, 186);
}
#password {
  height: 20%;
  background-color: rgb(90, 83, 187);
}
#check-btn {
  display: flex;
  justify-content: space-between;
  height: 20%;
  background-color: rgb(63, 199, 223);
}

#checkbox {
  height: 100%;
  width: 60%;
}

#log-btn {
  height: 100%;
  width: 40%;
}

/* =================
   Footer  
   ================= */

.footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  border: 1px solid blue;
}

.footer h1 {
  margin-right: 10%;
}

/* =================
   Spacers     
   ================= */

.top-space {
  grid-area: top-space;
  display: none;
}
.bottom-space {
  grid-area: bottom-space;
  display: none;
}
.left-space {
  grid-area: left-space;
  display: none;
}

.right-space {
  grid-area: right-space;
  display: none;
}
