* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-wrapper {
  height: 55vh;
  margin-top: 20vh;
  margin-left: 26vw;
  margin-right: 26vw;
  margin-bottom: 12vh;
  border: 1px dotted red;
  display: flex;
  align-items: center;
  justify-content: center;
}
