* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-global {
  height: 100vh;
  /* margin-top: 20vh;
  margin-left: 26vw;
  margin-right: 26vw;
  margin-bottom: 12vh; */
  border: 2px dotted red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper {
  height: 50vh;
  flex-basis: 50vw;
  /* margin-top: 20vh;
  margin-left: 26vw;
  margin-right: 26vw;
  margin-bottom: 12vh; */
  border: 1px dotted rgb(255, 238, 0);
}
.left,
.right,
.bottom {
  border: 1px dotted black;
}
.bottom {
  width: auto;
  height: 5h;
  text-align: center;
}
