* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* =================
   Globals     
   ================= */

div {
  border: 2px dotted orange;
}

h1 {
  font-size: 1.5rem;
}

/* =================
   Grid Layout   
   ================= */

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 23% 48% 6% 23%;
  border: 1px dotted red;
  height: 100vh;
  grid-template-areas:
    "top-space top-space top-space top-space"
    "left-space main-top main-top right-space"
    "left-space footer footer right-space"
    "bottom-space bottom-space bottom-space bottom-space";
}

/* =================
   Main content   
   ================= */

.main-top {
  grid-area: main-top;
  /*  background-color: orangered; */
  display: grid;
  grid-template-columns: 46% 54%;
}

.main-left {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-row-gap: 10%; */
}

/* Buttons */

.btn {
  margin: 5% 10%;
  background-color: orangered;
}

.footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  border: 1px solid blue;
}

/* =================
   Spacers     
   ================= */

.top-space {
  grid-area: top-space;
  display: none;
}
.bottom-space {
  grid-area: bottom-space;
  display: none;
}
.left-space {
  grid-area: left-space;
  display: none;
}

.right-space {
  grid-area: right-space;
  display: none;
}
